#root {
  max-width: 1280px;
}

.action-button{
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  background-color: rgb(85, 101, 245);
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
}

.action-button:hover{
  background-color: rgb(71, 88, 245);
}